#screen {
  margin: auto;
  width: 640px;
  height: 960px;
  background-color: #fdfaf5;
  overflow: hidden;
  position: relative;
  color: #6a491b;
}

#contents {
  text-align: center;
  margin-left: 15px;
}

/* <----- Based off of w3schools top navigation: https://www.w3schools.com/howto/howto_js_topnav.asp */

/* general navbar */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

/* navbar links */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 45px 45.2px;
  text-decoration: none;
  font-size: 17px;
}

/* navbar links when hovering */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* navbar active/current link */
.navbar a.active {
  background-color: #d49400;
  color: white;
}

/* <-------- end w3schools top navigation -------------> */

/* #member-tab {
  background-color: #7c8830;
  border-color: #7c8830;
  border-width: 10px;
  width: 60px;
  height: 100px;
  position: absolute;
  z-index: 1;
  background-image: url("../images/tabbackground.png");
} */

#member-tab-container {
  position: relative;
  width: 640px;
  height: 70px;
}

#member-tab {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 640px;
  z-index: 1;
}

#members-header {
  position: absolute;
  top: 15px;
  color: #7c8830;
  z-index: 2;
  margin-left: 100px;
  font-size: 20px;
}

#watchers-header {
  position: absolute;
  top: 13px;
  color: white;
  z-index: 2;
  margin-right: 100px;
  font-size: 20px;
}

#members-header {
  left: 20px; /* adjust horizontal position */
}

#watchers-header {
  right: 20px; /* adjust horizontal position */
}

#profile-pic-placeholder {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #faedcd;
  border-radius: 100px;
  z-index: -1;
}

.profile-pic {
  display: inline-block;
  float: left;
  width: 85px;
  height: 85px;
  margin: 10px;
  background-color: #fefae0;
  border-radius: 100px;
}

.member {
  display: inline-block;

  background-color: #7c8830;
  padding: 10px;
  margin: 10px;
  width: 85%;
  height: 120px;
  text-wrap: wrap;
  color: #e3eee1;
  border-radius: 10px;
}

.member-name {
  display: inline-block;
  float: left;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 40px;
}

.member-allergies {
  display: inline-block;
}

#add-member-button {
  display: inline-block;
  background-color: #7c8830;
  border: none;
  padding: 10px;
  margin: 10px;
  margin-left: 40px;
  float: left;
  text-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  color: #fefae0;
  z-index: 2;
}

.allergy {
  display: inline-block;
  background-color: #faedcd;
  padding: 10px;
  margin: 10px;
  text-wrap: wrap;
  text-align: center;
  border-radius: 10px;
}

#add-allergy-button {
  display: inline-block;
  background-color: #dabd7f;
  border: none;
  padding: 10px;
  margin: 10px;
  text-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  color: #6a491b;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  margin: auto;
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 640px; /* Full width */
  height: 960px; /* Full height */

  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 300px; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#phone-keyboard {
  width: 640px;
  margin-top: 173.5px;
}
